<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Controller\ResultInterface">
        <plugin name="PixieMedia_ServerPush::ProcessPageResult" type="PixieMedia\ServerPush\Plugin\ProcessPageResult" sortOrder="5" />
    </type>
</config>
